/* Some starer styling. Feel free to change anything you like */

body {
    background-color: rgb(220,220,220);
    font-size: 15px;
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
    margin-left: 1px;
  }

main{
  width: 100%;
  min-height: 95vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-table{
  background-color: #ffffff;
  width: 650px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

table {
 width: 100%;  
 border-collapse: collapse;
}

table th, table td{
  padding: .75rem;
  text-align: left;
}

tbody tr:nth-child(odd){
  background-color: #f0f0f0;
  border-spacing: initial;
}

nav{
  background-color: #f0f0f0;
  padding: .75rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}

nav ul a{
  color: inherit;
  text-decoration: none;
  padding: 5px;
}

nav ul a:focus{
  border: 1px solid #f5d567;
}

.fa-arrow-left{
  margin-right: 2px;
  -webkit-text-stroke: 1px #f0f0f0;
}
.fa-arrow-right{
  margin-left: 2px;
  -webkit-text-stroke: 1px #f0f0f0;
}

@media (max-width: 600px) {
  body {
    margin-top: 6px;
    margin-right: 10px;
  }
  .wrap-table{
    border-radius: 0;
  }
  
  thead { 
    display: none;
  }

  table tr {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
  }

  table td {
    padding: 0;
    flex-basis: 50%;
    margin: 10px 0 10px 0;;
  }

  table th[data-title]:before, table td[data-title]:before {
    content: attr(data-title) "\A";
    font-weight: bold;
    white-space: pre-wrap;
  }
/* 
  table td:empty {
     display: none;
  } */

}
